html
  head
    title
      | AS-char
    link(rel="stylesheet", type="text/css", href="style.css")

  body
    .form-container
      h1
        | Wpisz numer Systemu Autonomicznego, adres sieci lub adres IP
      form#form()
        .box.form-group
          input(type="text", name="resource", placeholder="Numer AS")
        .form-group
          input.button(type="submit", value="Badaj zasób")

    .loader#loader
      .loader-title Czekaj. Trwa ładowanie danych.
      .loader-element

script(src="/index.js")
